body{
    text-align: center;
    background-color:rgb(183, 185, 187)
}

.d1{
    align-items: center;
    margin: auto;
    margin-top: 200px;
    display: inline-block;
    width: 500px;   
}

.p2{
    display: block;
    margin: auto;

}